html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }
     
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}
#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

circle {
    pointer-events: auto; /* Enable tooltips */
    transition: r 0.2s ease-out;
    
    fill: var(--color);
  }
circle:hover {
    fill-opacity: 1;
    stroke-width: 2;
}
:root {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
}

#map svg circle,
.legend>div {
    --color: color-mix(in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals));
}

#map svg circle {
    fill: var(--color);
    fill-opacity: 0.4;
    stroke: white;
    pointer-events: auto;
}

header {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 1rem;
}

header h1 {
    margin: 0;
    flex: 1;
}

.time-filter {
    margin-left: auto;
    text-align: right;
}

.time-filter time,
.time-filter em {
    display: block;
    margin-top: 0.2em;
    font-size: 1em;
    margin-left: 0;
}

.time-filter em {
    color: #666;
    font-style: italic;
}

.time-filter input[type="range"] {
    width: 400px;
    margin: 0 0.5em;
}

.legend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    margin-block: 1rem;
    width: 100%;
}

.legend>div {
    height: 35px;
    width: 33.3%;
    background: var(--color);
    position: relative;
}

.legend label {
    position: absolute;
    color: white;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 40%;
}

.legend>div:first-child label {
    padding-left: 1rem;
}

.legend>div:last-child label {
    padding-left: 70%;
}